@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  background-color: rgb(209, 128, 21);
  color: aliceblue;
}
button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 4px;
  color: aliceblue;
  background-color: rgb(43, 43, 43);
  border: solid rgb(216, 216, 216);
  transition: 0.2ms;
}
button:hover {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 4px;
  color: aliceblue;
  background-color: rgb(43, 43, 43);
  border: solid rgb(158, 164, 250);
  transition: 0.2ms;
}
#question-display {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  border: solid darkgrey;
  border-radius: 1.5%;
  width: 60vw;
  background-color: rgb(38 38 38);
  margin: 15px;
}
#thequestion {
  grid-area: 1/1/2/2;
  text-align: center;
  margin: auto;
}
#answers-boxes {
  display: flex;
  flex-direction: column;
  grid-area: 1/2/2/3;
  align-items: center;
}
#profile-correct-answer {
  transition-duration: 0.5s;
}
#profile-correct-answer:hover {
  background-color: rgba(116, 255, 116, 0.62);
  transition-duration: 0.5s;
}
#question-list {
  color: rgb(38 38 38);
  font-weight: 550;
}
#question-list-page {
  max-height: 85vh;
  overflow-y: auto;
}
