@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  background-color: rgb(94, 94, 94);
  color: aliceblue;
}
button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 4px;
  color: aliceblue;
  background-color: rgb(43, 43, 43);
  border: solid rgb(216, 216, 216);
  transition: 0.2ms;
}
button:hover {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 4px;
  color: aliceblue;
  background-color: rgb(43, 43, 43);
  border: solid rgb(158, 164, 250);
  transition: 0.2ms;
}
