.footer {
  @apply w-full;
  @apply bg-neutral-800 text-slate-200;
  @apply flex flex-row justify-center;
  @apply p-2;
  @apply bottom-0;
  height: fit-content;
}

.ul {
  @apply flex flex-row gap-8;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: row;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.accordion {
  margin-top: 20px;
  width: 100%;
}

.accordionItem {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.accordionHeader {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.accordionTrigger {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.accordionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap; /* Ensure content wraps if necessary */
}
